*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Karla', sans-serif;
    background-color: #e6eff6;
}
.container{
    width: 36%;
    height: 365px;
    margin: 100px auto;
    -webkit-box-shadow: 0px 0px 26px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 26px -8px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 26px -8px rgba(0,0,0,0.75);
}
.top{
    background-color: white;
    width: 100%;
    height: 165px;
    padding: 30px 10px 10px 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.top h1{
    font-size: 18px;
    color: #2bb3b1;
}
.top h2{
    font-size: 14px;
    color: #bfdf32;
    margin-top: 15px;
    font-weight: 700;
}
.top p{
    font-size: 13px;
    color: #b1b4b9;
    margin-top: 10px;
    line-height: 20px;
}
.bottom{
    display: flex;
    height: 200px;
}
.left{
    background-color: #2bb3b1;
    width: 50%;
    height: 200px;
    padding: 30px 10px 10px 30px;
    border-bottom-left-radius: 5px;
}
.left h3{
    font-size: 15px;
    color: #fcfffe;
    font-weight: 700;
}
.price{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.price span{
    font-size: 25px;
    color: #fcfffe;
    font-weight: 700;
}
.price h5{
    color: #57c9ca;
    margin-left: 10px;
}
.left p{
    font-size: 12px;
    color: #a4e5ed;
    margin-top: 10px;
}
.left button{
    background-color: #bfdf32;
    color: #fcfffe;
    width: 90%;
    height: 40px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: 700;
    transition: 500ms;
}
.left button:hover{
    cursor: pointer;
    transform: translateY(5px);
}
.left button:active{
    background-color: #fcfffe;
    color: #bfdf32;
}
.button{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.right{
    background-color: #4abebd;
    width: 50%;
    height: 200px;
    padding: 30px 10px 10px 30px;
    border-bottom-right-radius: 5px;
}
.right h3{
    font-size: 15px;
    color: #fcfffe;
    margin-bottom: 10px;
    font-weight: 700;
}
.right p{
    font-size: 10px;
    color: #a7f3f4;
    margin-bottom: 5px;
}
footer{
    text-align: center;
}
footer a{
    text-decoration: none;
    color: royalblue;
}
footer a:hover{
    border-bottom: 1px solid royalblue;
}
@media (max-width: 918px){
    .container{
        width: 80%;
        margin: 50px auto;
    }
    .top{
        width: 100%;
    }
    .bottom{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .left{
        width: 100%;
        border-bottom-left-radius: 0px;
    }
    .right{
        width: 100%;
        border-bottom-left-radius: 5px;
    }
    footer{
        margin-top: 170px;
    }
}
@media (max-width: 563px){
    .top p{
        line-height: 15px;
    }
}
@media (max-width: 408px){
    .top p{
        margin-top: 5px;
    }
}
@media (max-width: 375px){
    .top{
        padding-top: 15px;
    }
}
